In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
data['y1']=0
data['y2']=0
data['y3']=0
for i in range(0,len(data['Species'])):
    if(data['Species'][i]=='Iris-versicolor'):
        data['y1'][i]=1
        data['y2'][i]=0
        data['y3'][i]=0
    elif(data['Species'][i]=='Iris-virginica'):
        data['y1'][i]=0
        data['y2'][i]=1
        data['y3'][i]=0
    else:
        data['y1'][i]=0
        data['y2'][i]=0
        data['y3'][i]=1

/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/cocoslabs/anaconda3/lib/python2.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

### 0- versicolor   1-virginica  2-setosa

In [4]:
data.drop('Species',axis=1,inplace=True)

In [5]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  y1  y2  y3
0   1            5.1           3.5            1.4           0.2   0   0   1
1   2            4.9           3.0            1.4           0.2   0   0   1
2   3            4.7           3.2            1.3           0.2   0   0   1
3   4            4.6           3.1            1.5           0.2   0   0   1
4   5            5.0           3.6            1.4           0.2   0   0   1

In [6]:
data=data.sample(frac=1)
data.drop('Id',axis=1,inplace=True)
data.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  y1  y2  y3
62             6.0           2.2            4.0           1.0   1   0   0
112            6.8           3.0            5.5           2.1   0   1   0
110            6.5           3.2            5.1           2.0   0   1   0
71             6.1           2.8            4.0           1.3   1   0   0
142            5.8           2.7            5.1           1.9   0   1   0

In [7]:
data_t=tf.convert_to_tensor(data)

In [8]:
train,test=tf.split(data_t,[120,30],axis=0)

In [9]:
x_train,y_train=tf.split(train,[4,3],axis=1)
x_test,y_test=tf.split(test,[4,3],axis=1)

In [10]:
xtr=tf.placeholder(tf.float32,[None,4],name='ph1')
xte=tf.placeholder(tf.float32,[4],name='ph2')

In [11]:
minus=tf.add(xtr,tf.negative(xte),name='minus')

In [12]:
absolute=tf.abs(minus,name='abs')

In [13]:
distance=tf.reduce_sum(absolute,reduction_indices=1,name='distance')

In [14]:
pred=tf.argmin(distance,0,name='pred')

In [15]:
init = tf.global_variables_initializer()

In [24]:
plus=0
classes={0:'Versicolor',1:'Virginica',2:'Setosa'}
with tf.Session() as sess:
    a=sess.run(x_train)
    b=sess.run(x_test)
    c=sess.run(y_train)
    d=sess.run(y_test)
    for i in range(len(b)):
        op=sess.run(pred,feed_dict={xtr:a,xte:b[i,:]})
        res_pred=classes[np.argmax(c[op])]
        res_original=classes[np.argmax(d[i])]
        if(res_pred==res_original):
            plus=plus+1
    print('Total tests '+str(len(b))+' Correctly predicted tests '+str(plus))
    print('Accuracy '+str((plus*100)/len(b)))

Total tests 30 Correctly predicted tests 28
Accuracy 93